body {
    text-align: center;
}
div#console{
    width: 530px;
    margin: 0 auto;
    padding-bottom: 30px;
}

ul.role-list{
    padding: 5px 0;
    margin: 0;
}

ul.role-list li{
    display: inline-block;
}

ul.role-list li{

}

table{
    width: 100%;
    text-align: center;
}

button.btn{
    width: 50%;
}

.selected{
    border: 2px solid blue;
}